@{
    ViewData["Title"] = "Game";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Towns</title>
    <link href='https://fonts.googleapis.com/css?family=Lacquer&display=swap' rel='stylesheet' type='text/css'>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <h1 class="header">Towns game</h1>
    <div class="computer">
        <p class="player_name">Player 1</p>
        <div id="rules">
            <p class="label2">You are playing "Towns" game.<br />The rules are simple - every next player has to call the name of a town. There is one "but": your town must start with the last character of your opponent's town name.<br/>If you want to start - click the "Start" button.</p>
            <button class="button" onclick="start()">Start</button>
        </div>
        <p id="response1" class="label3"></p>
        <p id="response2" class="label3"></p>
    </div>
    <div class="player">
        <p id="name" class="player_name"></p>
        <p class="label">Input name of town: </p>
        <input type="text" class="input" id="txt">
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</body>